.sports-container {
  text-align: center;
}

.sports-title {
  color: white;
  margin-left: 2%;
  font-size: 60px;
  text-align: left;
}

.team-input {
  background-color: transparent;
  color: white;
  border: none;
  width: 20%;
  padding-top: 5%;
  font-size: 40px;
}

.team-input-btn {
  color: black;
  font-size: 20px;
  background-color: yellow;
  padding: 0.7% 4%;
  border-radius: 30px;
}

.team-input-btn:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(141, 153, 30);
}

.team-input-btn:focus {
  outline: none;
}

.team-input::placeholder {
  color: white;
  font-size: 40px;
}

.team-input:focus {
  outline: none;
}

.team-list {
  list-style-type: none;
}

.teams-intro {
  text-align: left;
  color: white;
  font-size: 20px;
  margin-left: 10%;
}

.beaten-team {
  text-align: left;
  color: white;
  font-size: 20px;
  margin-left: 7%;
}
