.sports-container {
  text-align: center;
}

.sports-title {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 0.5%;
  left: 2%;
}

.team-input {
  background-color: transparent;
  color: white;
  border: none;
  width: 20%;
  padding: 5% 2% 0 2%;
  font-size: 40px;
  border-bottom: solid 2px white;
  margin: 5% 2% 0 0;
}

.team-input-btn {
  color: black;
  font-size: 20px;
  background-color: yellow;
  padding: 0.7% 3%;
  border-radius: 30px;
}

.team-input-btn:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(141, 153, 30);
}

.team-input-btn:focus {
  outline: none;
}

.team-input::placeholder {
  color: white;
  font-size: 40px;
}

.team-input:focus {
  outline: none;
}

.team-list {
  list-style-type: none;
}

.beaten-team {
  text-align: left;
  color: white;
  font-size: 20px;
  margin-left: 7%;
}
